p {
    text-align: center;
    margin: 100px;
	background-color: #ffffff;
	font-size: 100px;
	font-weight: bold;
}
/*This styles the paragraph section. It centers the writing. ads a white color white, and it gives the text a font of 10px and it bolds it/*
