table, td{
border: 15px solid white;
border-collapse: collapse;
}
h1 {
  font-family: Arial Black;
  font-weight: bold;
  font-size: 25px;
  color: #FF314A;
}
h2 {
  font-family: Arial Black;
  font-weight: bold;
  font-size: 25px;
  color: #FF314A;
  text-align: right;
}
th {
  border: 7px solid white;
}
